/*---------------------------------------
----------- YELLOW: #FFCE38   -----------
----------- CYAN:   #00CFFA   -----------
----------- BLACK:  #020509   -----------
---------------------------------------*/



/*---------------------------------------
-----------     @FONT-FACE    -----------
---------------------------------------*/

@font-face {
	font-family: JosefinSans;
	src: url(fonts/JosefinSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: JosefinSans;
	src: url(fonts/JosefinSans-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: JosefinSans;
	src: url(fonts/JosefinSans-Thin.ttf);
	font-weight: 100;
}

/*---------------------------------------
-----------       RESET       -----------
---------------------------------------*/

html, body, header, footer, main,
div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, a {
	margin: 0;
	padding: 0;
	border: none;
	font-family: JosefinSans, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	list-style-type: none;
	color: #020509;
}

/*---------------------------------------
-----------    GRID SYSTEM    -----------
---------------------------------------*/

.container{
  width: 1024px;
	margin: 0 auto;
}

/*-- clearfix -- */ 
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='col-'] {
  float: left; 
  min-height: 1px; 
  width: 78px; 
  /*-- gutter -- */
  padding: 4px; 
}

.col-1{ width: 78px;  }
.col-2{ width: 156px; }
.col-3{ width: 234px; }
.col-4{ width: 312px; }
.col-5{ width: 390px; }
.col-6{ width: 468px; }
.col-8{ width: 624px; }

/*---------------------------------------
-----------    HEADER CSS    ------------
---------------------------------------*/

body {
	background: #FFCE38;
}

/*---------------------------------------
-----------    HEADER CSS    ------------
---------------------------------------*/

header {
	height: 700px;
	position: relative;
	background: url('img/bg-header.JPG');
	background-size: cover;
}

.jumbotron-text {
	position: absolute;
  top: 250px;
	background: #FFCE38;
	padding: 10px 0;
}

.jumbotron-text p {
	padding-top: 10px;
}

header h1 {
	font-size: 1.5em;
	font-weight: 100;
}

header h1 span {
	font-size: 3em;
	font-weight: 700;
}

header h3 {
	font-size: 1.5em;
	font-weight: 700;
}

nav {
	padding: 25px 0;
	background: #020509;
	text-align: center;
	position: fixed;
	width: 1024px;
	z-index: 3;
}

nav ul li{
	display: inline-block;
}

nav ul li a {
	padding: 2px 15px 0 20px;
	text-decoration: none;
	font-weight: 700;
	color: #FFCE38;
	background: url('img/icon-sprite.png') no-repeat;
	background-size: 16px;
	transition: background 0.2s;
}

nav ul li a:hover {
	color: #00CFFA;
	transition: background 0.2s;
}

nav ul li a.schedule {
	background-position: 0 0;
}

nav ul li a.schedule:hover{
	background-position: 0 -19px;
}

nav ul li a.register {
	background-position: 0 -38px;
}

nav ul li a.register:hover{
	background-position: 0 -57px;
}

nav ul li a.direction {
	background-position: 0 -76px;
}

nav ul li a.direction:hover{
	background-position: 0 -95px;
}

nav ul li a.hall {
	background-position: 0 -114px;
}

nav ul li a.hall:hover{
	background-position: 0 -133px;
}

nav ul li a.web {
	background-position: 0 -152px;
}

nav ul li a.web:hover{
	background-position: 0 -171px;
}
/*---------------------------------------
-----------     MAIN CSS     ------------
---------------------------------------*/

main {
	padding: 30px;
	margin:4px 0;
	border: 4px dashed #020509;
}

main [class*='col-'] > p {
	text-align: justify;
	padding: 0 10px;
}

main .drop-cap {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding-top: 12px; 
	padding-right: 8px; 
	padding-left: 3px;
}
/*---------------------------------------
-----------    FOOTER CSS    ------------
---------------------------------------*/

footer {
    height: 100px; 
}

footer {
	background: #020509;
}

footer ul {
	text-align: right;
	float: right;
	padding-right: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

footer a {
	color: #FFCE38;
}

footer a:hover {
	color: #OOCFFA;
}