/* FONTS */

@font-face {
    font-family: 'montserrat-black';
    src: url('fonts/Montserrat/montserrat-black.eot');
    src: url('fonts/Montserrat/montserrat-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat/montserrat-black.woff2') format('woff2'),
         url('fonts/Montserrat/montserrat-black.woff') format('woff'),
         url('fonts/Montserrat/montserrat-black.ttf') format('truetype'),
         url('fonts/Montserrat/montserrat-black.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat-bold';
    src: url('fonts/Montserrat/montserrat-bold.eot');
    src: url('fonts/Montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat/montserrat-bold.woff2') format('woff2'),
         url('fonts/Montserrat/montserrat-bold.woff') format('woff'),
         url('fonts/Montserrat/montserrat-bold.ttf') format('truetype'),
         url('fonts/Montserrat/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat-hairline';
    src: url('fonts/Montserrat/montserrat-hairline.eot');
    src: url('fonts/Montserrat/montserrat-hairline.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat/montserrat-hairline.woff2') format('woff2'),
         url('fonts/Montserrat/montserrat-hairline.woff') format('woff'),
         url('fonts/Montserrat/montserrat-hairline.ttf') format('truetype'),
         url('fonts/Montserrat/montserrat-hairline.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat-light';
    src: url('fonts/Montserrat/montserrat-light.eot');
    src: url('fonts/Montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat/montserrat-light.woff2') format('woff2'),
         url('fonts/Montserrat/montserrat-light.woff') format('woff'),
         url('fonts/Montserrat/montserrat-light.ttf') format('truetype'),
         url('fonts/Montserrat/montserrat-light.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat-regular';
    src: url('fonts/Montserrat/montserrat-regular.eot');
    src: url('fonts/Montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat/montserrat-regular.woff2') format('woff2'),
         url('fonts/Montserrat/montserrat-regular.woff') format('woff'),
         url('fonts/Montserrat/montserrat-regular.ttf') format('truetype'),
         url('fonts/Montserrat/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* END FONTS */














.wrapper{
    background-color: #e99600;
    width: 100%;
}

body{
    background-color: #e99600;
    
}




.navigation {
	background-color: yellow;
	height: 5%;
	width: 80%;
}

.teaser {
	
}
.culture {
	width: 100%;
	
}
#P-sub {
    font-family: 'montserrat-black';
    color: #46006A;
}

/*-----------------------------------------------------------------------DESKTOP*/
@media only screen and (min-width: 1024px)  {
		
        .navigation {
        	width: 100%;
        	height: 70px;
        	margin: 0 auto;

        	position: fixed;
        }
    	.teaser {
    		float: left;
    		margin: 3% 2%;
    		width: 85%;
    		height: 1200px;
            margin-bottom: 10%;
            clear: right;

    	}

        #teaser-pic{
            width: 100%;
        }
        #teaser-text{
            width: 50%;
            bottom: 25%;
            margin: 0 auto;
            position: relative;
            float: center;
            z-index: 2;

        }
        #teaser-textcolor{
            color: white;
            font-family: "montserrat-black";
            font-size: 170%;
        }
        a #teaser-textcolorlink{
            color: #E99600;

        }

    	.culture {
    		float: left;
    		width: 90%;
    		height: auto;

    		margin: 5%;
            margin-bottom: 10%;
    		position: relative;
    	}
            .C {
                float: left;
                width: 23%;
                height: 500px;
                margin: auto 0.899%;

            }
            #C-title{
                width: 40%;
               margin-left: 25%;
               margin-right: 25%;
                
                float: center;
                clear: both;
                

            }
            #C-pic {
                max-width: 80% ;
                max-height: 80% ;
                float: center;
                margin: 10%;

            }

            #C-text {

            }


        .places {
            float: left;
            width: 70%;
            height: auto;
            padding-top: 100px;
            margin-bottom: 10%;
            margin-left: 15%;
            margin-right: 15%;
        }
            .P {
            float: left;
            width: 100%;
            height: 400px;
            margin: 10px 0;

            }
            #P-title{
                float: center;
                width: 40%;
               margin-left: 25%;
               margin-right: 25%;
                
                float: center;
                clear: both;
            }
            #P-pic{
                max-width: 100% ;
                max-height: 100% ;
                left: 7%;
                float: center;
                position: relative;
            }
            p #P-sub{
                font-family: "montserrat-black";

            }
            #P-text{
                position: relative;
                float: right;
                width: 62%;
                margin: 5%;
                top: 33%;
            }
        .map{
            float: left;
            margin-left: 8%;
            margin-right: 8%;
            width: 85%;
            height: 1200px;
            margin-bottom: 10%;
            clear: right;

            }
            #map-pic{
                width: 100%;
            }
            #M-tittlepic{
                position: relative;
                float: center;
                width: 40%;
               left: 30%;
               margin-bottom: 30px;
               
                
                float: center;
               
            }
        .tips {
            float: left;
            width: 90%;
            height: auto;
            margin-left: 15%;
            margin-right: 5%;
            padding-top: 100px;
            margin-bottom: 10%;

        }
            .T {
                float: left;
                width: 15%;
                height: 250px;
                margin: auto 2.4%;
                margin-bottom: 30px;

               
            }
                .T5 {
                    float: center;
                    width: 20%;
                    height: 330px;
                    margin: 20px auto;
                    clear: both;

                }
                #T-picD {
                    float: left;
                    width: 49%;
                    height: 100%;

                    
                }
                #T-title{
                    
                    float: center;
                    margin-left: 15%;
                    margin-right: 15%;
                    bottom: 80px;
                }
                #T-picF{
                    display: none;
                }
                #paragraph {
                    
                }
                #T-text{
                    margin-top: 50px;
                    float: right;
                    width: 49%;
                    height: 100%;
                }

                }
                #T5-picF{
                    display: none;
                }
    .footer {
        width: auto;
        height: 100%;
                    background-color: #E99600;

        float: left;
    }
        #F-pic{
            width: 100%;
        }
        #F-text{
            width: 25%;
            bottom: 40%;
            margin: 0 auto;
            position: relative;
            float: center;
            z-index: 2;
            text-align: center;
            font-size: 100%;
            line-height: 150%;
            margin: 20px 37.5%;
            color: white;
        }




}


/*-----------------------------------------------------------------------TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
        
        .navigation {
            width: 100%;
            height: 70px;
            margin: 0 auto;

            position: fixed;
        }
        .teaser {
            float: left;
            margin: 3% 2%;
            width: 96%;
            height: 400px;
            margin-bottom: 10%;
            margin-top: 70px;

        }
            #teaser-pic{
            width: 100%;
            height: auto;
        }
            #teaser-text{
            width: 60%;
            bottom: 25%;
            margin: 0 auto;
            position: relative;
            float: center;
            z-index: 2;
            font-size: 70%;

        }
        #teaser-textcolor{
            color: white;
            font-family: "montserrat-black";
            font-size: 130%;
        }
        a #teaser-textcolorlink{
            color: #E99600;
        }

        .culture {
            float: left;
            width: 90%;
            height: auto;

            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 10%;
            position: relative;
        }
            .C {
                float: left;
                width: 40%;
                height: 500px;
                margin: auto 4.8%;

            }
            #C-title{
                    max-width: 100%;
                    max-height: auto;
                    border: 1px solid blue;
                    float: center;
                    margin-bottom: 40px;
                }

                #C-tittlepic{
                    max-width: 100%;
                }
            
            #C-pic {
                max-width: 80% ;
                max-height: 80% ;
                float: center;
                margin: 10%;

            }

            #C-text {

            }
        .places {
            float: left;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            height: auto;
            padding-top: 100px;
            margin-bottom: 10%;

        }
            .P {
            float: left;
            width: 100%;
            height: 400px;
            margin: 10px 0;

            }
            #P-title{
                    max-width: 100%;
                    max-height: auto;
                    border: 1px solid blue;
                    float: center;
                    margin-bottom: 40px;
                }

                #P-tittlepic{
                    max-width: 100%;
                }
            #P-pic{
                max-width: 40% ;
                max-height: auto ;
                left: 7%;
                float: left;
                position: relative;
                margin-top: 10px;
            }
            p #P-sub{
                font-family: "montserrat-black";

            }
            #P-text{
                position: relative;
                float: right;
                width: 45%;
                margin: 5%;
                top: 20%;
            }
        .map{
            float: left;
            width: 100%;
            height: 670px;
            
            }
            #map-pic{
                width: 100%;
            }
            #M-title{
                    max-width: 100%;
                    max-height: auto;
                    float: center;
                    margin-bottom: 40px;
                }

                #M-tittlepic{
                    max-width: 100%;
                }
        .tips {
            float: left;
            width: 100%;
            height: auto;
            padding-top: 80px;
            margin-bottom: 10%;

        }
            .T {
                float: center;
                width: 70%;
                height: 200px;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 30px;

            }
                .T5 {
                float: center;
                width: 70%;
                height: 200px;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 30px;
                clear: both;

                }

                #T-title{
                    max-width: 80%;
                    max-height: auto;
                    float: center;
                    margin-right: 10%;
                    margin-left: 10%;
                    margin-bottom: 40px;
                }

                #T-tittlepic{
                    max-width: 100%;
                }

                .T-top{

                }

                #T-picD {
                    display: none;
                }
                #T-picF{
                    float: left;
                    width: 49%;
                    height: 100%;

                }
                .paragraph {
                    float: right;
                    width: 49%;
                    height: 100%;

                }
    .footer {
        width: auto;
        height: 363px;
        float: left;
    }
    #F-pic{
            width: 99.9%;
            height: auto;
            
        }
        #F-text{
            width: 25%;
            bottom: 100px;
            margin: 0 auto;
            position: relative;
            float: center;
            z-index: 2;
            text-align: center;
            color: white;
            font-size: 80%;
            line-height: 150%;
        }





}


/*-----------------------------------------------------------------------PHONE*/
@media only screen  and (max-width: 767px) {
        body{
            font-size: 110%;
        }
        .navigation {
            float: left;
            width: 100%;
            height: 50px;
            margin: 0 auto;

            position: fixed;

            
        }
        .teaser {
            float: left;
            margin: 70px 2%;
            width: 96%;
            height: 250px;
            margin-bottom: 10%;

        }
            #teaser-pic{
            width: 100%;
            height: auto;
        }
            #teaser-text{
            width: 80%;
            bottom: 30%;
            margin: 0 auto;
            position: relative;
            float: center;
            z-index: 2;
            font-size: 80%;

        }
        #teaser-textcolor{
            color: white;
            font-family: "montserrat-black";
            font-size: 100%;
        }
        a #teaser-textcolorlink{
            color: #E99600;
        }

        .culture {
            float: left;
            width: 100%;
            height: auto;

            margin: 10px auto;
            margin-bottom: 10%;
            position: relative;
        }
            .C {
                float: left;
                width: 90%;
                height: 150px;
                margin: auto 4.8%;

            }
            #C-title{
                    max-width: 100%;
                    max-height: auto;
                    float: center;
                    margin-bottom: 40px;
                }

                #C-tittlepic{
                    max-width: 100%;
                }
            
            #C-pic {
                max-width: 80% ;
                max-height: 80% ;
                float: left;
                margin: 5%;

            }

            #C-text {
                margin: 5%;
            }
        .places {
            float: left;
            width: 100%;
            height: auto;
            padding-top: 50px;
            margin-bottom: 10%;

        }
            .P {
            float: left;
            width: 90%;
            height: 330px;
            margin: 10px 5%;

            }
            #P-title{
                    max-width: 100%;
                    max-height: auto;
                    float: center;
                    margin-bottom: 40px;
                }

                #P-tittlepic{
                    max-width: 100%;
                }
            #P-pic{
                max-width: 40% ;
                max-height: auto ;
                left: 7%;
                float: left;
                position: relative;
                margin-top: ;
            }
            p #P-sub{
                font-family: "montserrat-black";

            }
            #P-text{
                position: relative;
                float: right;
                width: 45%;

                margin: 5%;
                font-size: 80%;
            }
            .map{
            float: left;
            width: 100%;
            bottom: 60px;
            
            }
            #map-pic{
                width: 100%;
            }
            #M-title{
                    max-width: 100%;
                    max-height: auto;
                    float: center;
                    margin-bottom: 40px;
                }

                #M-tittlepic{
                    max-width: 100%;
                }
        .tips {
            float: left;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 100px;
            height: auto;
            
            margin-bottom: 10%;

        }
            .T {
                float: left;
                width: 70%;
                height: auto;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 30px;

            }
                .T5 {
                float: center;
                width: 86%;
                height: auto;
                margin-left: 7%;
                margin-right: 7%;
                margin-bottom: 30px;
                clear: both;

                }

                #T-title{
                    max-width: 80%;
                    max-height: auto;
                    float: center;
                    margin-right: 10%;
                    margin-left: 10%;
                    margin-bottom: 40px;
                }

                #T-tittlepic{
                    max-width: 100%;
                }

                .T-top{

                }

                #T-picD {
                    display: none;
                }
                #T-picF{
                    float: left;
                    width: 49%;
                    height: 100%;

                }
                #T5-picF{
                    margin-top: 15px;
                    float: left;
                    width: 49%;
                    height: 100%;
                    margin-bottom: 18px;
                }
                #T-text{
                    text-align: center;
                }
                #paragraph {
                    float: right;
                    width: 49%;
                    height: 100%;
                    margin-top: 10%;
                    margin-bottom:10%;
                    font-size: 90%;
                }
    .footer {
        width: auto;
        height: 200px;
        
        float: left;
    }
    #F-pic{
            width: 100%;
            height: auto;
            
        }
        #F-text{
            width: 40%;
            bottom: 60px;
            margin: 0 auto;
            position: relative;
            float: center;
            z-index: 2;
            text-align: center;
            color: white;
            font-size: 70%;
            line-height: 110%;
        }
