html,
body {
    background: #E89624;
    font-size: 115%;
    font-family: 'Crimson Text', serif;
}

.center {
    margin: 0 auto;
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#main_container {
    margin: 25px;
    background: #ffffff;
    color: #111111;
}

#teaser {
    background: #60308A;
    text-align: center;
    padding: 10vh 20px;
}

#teaser p {
    color: white;
    font-size: 35px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

#culture {
    padding: 10vh 0;
}

#places h2 {
    font-family: 'Montserrat', sans-serif;
    color: #60308A;
}

#footer {
    color: white;
}

#footer p {
    text-align: center;
    font-size: 30px;
}

@media (max-width: 768px) {
    #main_container {
        margin: 10px;
        background: #ffffff;
        color: #111111;
    }
    #teaser {
        padding: 5vh 10px;
    }
}
