/* General */

body {
    font-family: 'Inconsolata', sans-serif;
    width: 100%;
    min-height: 100vh;
    background: #262626;
    color: white;
}

a {
    color: white;
}

* {
    box-sizing: border-box;
}

.main {}

.grid-gallery {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.grid-gallery .buttons button {
    border: none;
    background: none;
    margin-right: 20px;
    font-size: 15px;
    font-family: Inconsolata;
    padding: 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding-bottom: 10px;
}

.grid-gallery .buttons {
    width: 100%;
    text-transform: lowercase;
    padding-left: 1%;
}

.grid-gallery .buttons .active {
    border-bottom: 2px solid red;
}

.grid-gallery .items .item {
    width: 23%;
    margin: 1%;
    float: left;
    height: auto;
    margin-bottom: 30px;
}

.grid-gallery .items .item h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0 2px;
    font-size: 20px;
    font-weight: 700;
}

.grid-gallery .items .item p {
    letter-spacing: 0px;
    margin: 0;
}

.grid-gallery .items .item p.tag-name {
    font-size: 13px;
    margin: 0 0 5px;
}

.grid-gallery .items ul {
    list-style: none;
}

.footer {
    text-align: center;
}