
.btn-white {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 15px 30px;
    outline: none;
    padding: 20px 40px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-radius: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-white:hover,
.btn-white:active {
    color: #d50f25;
    background: #ffffff;
}

.btn-red {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #d50f25;
    color: #d50f25;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 10px;
    margin: 15px 30px;
    outline: none;
    padding: 20px 40px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-radius: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-red:hover,
.btn-red:active {
    color: #ffffff;
    background: #d50f25;
}


/* -- RESPONSIVE CSS -- */


@media (max-width: 1200px) {
    .btn-red, .btn-white {
        width: 85%;
        display: block;
        margin: 15px auto;
    }

}
