/* -- GENERAL -- */

body {
    background: #d50f25;
    margin: 0;
    font-family: 'Source Code Pro';
}

a,
a:hover,
a:link,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    outline: 0;
}


/* -- NAVBAR -- */

#navbar {
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 30px;
    font-family: 'Source Code Pro';
    font-weight: 400;
}

#navbar {
    text-align: center;
    vertical-align: middle;
}

#navbar a {
    color: #d50f25;
    background: rgba(0, 0, 0, 0.0);
    text-decoration: none;
    letter-spacing: 5px;
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    line-height: 40px;
    background: url('../img/blank.png') no-repeat center bottom/45px auto;
    border-bottom: 4px solid rgba(0, 0, 0, 0.0);
    transition: border 0.8s ease, background 0.4s ease-out;
    -webkit-transition: border 0.8s ease, background 0.4s ease-out;
    -moz-transition: border 0.8s ease, background 0.4s ease-out;
}

#navbar a:hover {
    border-bottom: 4px solid #d50f25;
    background: url('../img/menu-1.png') no-repeat top center;
    background-size: 45px auto;
}

#navbar a.two:hover {
    background: url('../img/menu-2.png') no-repeat top center/45px auto;
}

#navbar a.three:hover {
    background: url('../img/menu-3.png') no-repeat top center/45px auto;
}

#navbar a.four:hover {
    background: url('../img/menu-4.png') no-repeat top center/45px auto;
}

#navbar a.four {
    margin-right: 0px;
}

#navbar p.divider-point {
    display: inline-block;
    margin-right: 25px;
    vertical-align: bottom;
    color: #BE0D1D;
    padding-bottom: 5px;
}


/* -- HEADER -- */

#header {
    height: auto;
    width: 100%;
    position: relative;
    background: url('../img/header-sakura-1.png') no-repeat bottom 50px left, #ffffff url('../img/header-sakura-2.png') no-repeat top 200px right;
    background-size: 400px auto, auto 500px;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 350px;
    padding-bottom: 12vh;
    text-align: center;
}

#header .header-content {
    padding-bottom: 150px;
}

#header .header-scroll p {
    color: #d50f25;
    font-size: 80%;
    margin-top: 20px;
}

.logo {
    height: 600px;
    width: 1000px;
    background: url('../img/logo.png');
    display: block;
    margin: 0 auto;
}


/* -- ABOUT -- */

#about {
    text-align: center;
    color: #ffffff;
    padding: 10vh 0 15vh;
    position: relative;
    z-index: 1;
    background: #d50f25;
}

#about:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#about:before {
    top: 0;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#about .about-intro h1 {
    font-family: 'Cinzel', serif;
    font-size: 7rem;
}

#about .about-intro h2 {
    font-size: 1.3rem;
    letter-spacing: 4px;
    line-height: 0;
    text-transform: uppercase;
}

#about .about-intro p {
    text-align: justify;
}


/* -- PLACES -- */

#places {
    position: relative;
    z-index: 1;
    background: #ffffff;
    padding: 5vh 0 5vh;
}

#places:before,
#places:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#places:before {
    top: 0;
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

#places:after {
    bottom: 0;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
}

#places .places-intro {
    text-align: justify;
    margin: 50px auto 0;
}

#places .places-item {
    width: 100%;
    height: 402px;
    padding: 0;
    min-height: 402px;
    max-height: 402px;
    color: #d50f25;
    border: 1px solid #d50f25;
    margin-bottom: 30px;
}

#places .places-item-img {
    width: 100%;
    height: 400px;
    display: block;
    filter: grayscale(100%);
    transition: filter 1.2s ease;
    -webkit-transition: filter 1.2s ease;
    -moz-transition: filter 1.2s ease;
}

#places .places-item-img:hover {
    filter: grayscale(0%);
}

#places .places-item-overlay {
    width: 100%;
    height: 400px;
    background: #d50f25;
    opacity: 0.6;
    margin-top: -400px;
    transition: opacity 1.2s ease;
    -webkit-transition: opacity 1.2s ease;
    -moz-transition: opacity 1.2s ease;
}

#places .places-item-disc {
    position: relative;
    z-index: 3;
    background: #ffffff;
    padding: 10px 5px 40px;
    transition: padding 0.3s ease;
    -webkit-transition: padding 0.3s ease;
    -moz-transition: padding 0.3s ease;
    margin-top: -400px;
}

#places .places-item:hover .places-item-disc {
    padding: 10px 5px;
}

#places .places-item:hover .places-item-overlay {
    opacity: 0;
}

#places .places-item:hover .places-item-img {
    filter: grayscale(0%);
}

#places .places-item-disc:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    border-bottom: 1px solid #d50f25;
}

#places .places-item-disc:after {
    bottom: 0;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
}

#places .places-item-disc h2 {
    text-align: center;
    border-bottom: 1px solid #d50f25;
    display: inline-block;
    font-size: 140%;
}

#places .places-item-disc p {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}


/* -- FOOTER -- */

#activity {
    padding: 20vh;
}

/* -- FOOTER -- */

#footer {
    position: relative;
    z-index: 1;
    background: #ffffff;
}

#footer:before {
    background: #ffffff;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#footer:before {
    top: 0;
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#footer .footer-landscape {
    width: 100%;
    height: 400px;
    background: url('../img/footer-red.png') no-repeat bottom center/auto 400px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 300px;
    text-align: center;
    color: #fff;
}

#footer .footer-landscape .white {
    background: url('../img/footer-white.png') no-repeat bottom center/auto 400px;
    color: #d50f25;
}
