@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('jquery-ui.css');
@import url('editor.css');

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 50px;
    padding-bottom: 80px;
    background: #292929 url("../images/apple-logo.png") center center no-repeat;
    background-size: 80px auto;
    transition: .3s ease;
    height: 100vh;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}



#container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 130px);
    border-radius: 5px;
    background: none transparent;
    background-size: cover;
    display: none;
}

#lockscreen {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 130px);
    background: url('../images/bg.jpg') center center;
    background-size: cover;
    transition: 1s ease;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lockscreen .login {
    margin-top: -100px;
    text-align: center;
}

#lockscreen .login .avatar {
    height: 80px;
    width: 80px;
    background: url('../images/hai.jpg') center center;
    background-size: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

#lockscreen .login p {
    margin: 25px auto 30px;
    color: rgba(255, 255, 255, 0.8);
}

#lockscreen #passwordcheck {
    height: 28px;
    width: 28px;
    background: rgba(255, 255, 255, 0.8) url('../images/icon/bpassword.png') center center no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: -8px;
    margin-left: 10px;
}

#lockscreen .login input {
    height: 28px;
    box-sizing: border-box;
    width: 180px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    margin-left: 38px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -webkit-touch-callout: auto;
    -khtml-user-select: auto;
}

#lockscreen #passwordhint {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    transition: .5s ease;
}

#lockscreen #passwordhint a {
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 2px 0 4px;
}

#lockscreen #passwordhint a:hover,
#lockscreen #passwordcheck:hover {
    cursor: pointer;
}

#overlay {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 130px);
    background: rgba(0, 0, 0, 1);
    transition: 0.5s ease opacity;
    opacity: 0;
    pointer-events: none;
}

#bggradient {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 130px);
    border-radius: 5px;
}


stop {
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

#taskbar {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px 5px 0 0;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
    padding-left: 10px;
}

#taskbar .right {
    float: right;
    margin-right: 20px;
}

#taskbar .wifi {
    height: 20px;
    width: 20px;
    background: url('../images/icon/wifi.png') center center no-repeat;
    background-size: 18px 18px;
    display: inline-block;
    vertical-align: top;
}

#taskbar .battery {
    height: 20px;
    line-height: 20px;
    padding-right: 25px;
    background: url('../images/icon/battery.png') center right no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

#taskbar .search {
    height: 20px;
    width: 20px;
    background: url('../images/icon/search.png') center center no-repeat;
    background-size: 12px 12px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

#taskbar .apple {
    height: 20px;
    width: 20px;
    background: url('../images/icon/apple.png') center center no-repeat;
    background-size: 15px 15px;
    display: inline-block;
    vertical-align: top;
}

#taskbar .left {
    display: inline-block;
}

#taskbar .left span {
    margin: 0 10px;
}

#taskbar .title {
    font-weight: 700;
}

#taskbar .apple:hover {
    cursor: pointer;
}

#dock {
    position: absolute;
    display: flex;
    width: 74px;
    height: calc(100vh - 130px);
    align-items: center;
    justify-content: center;
}

#dock div {
    z-index: 99;
    display: block;
    box-sizing: border-box;
    width: 74px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
}

#dock div a.icon {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: all .3s ease;
    background-size: 64px 64px;
}

#dock div a.icon:first-child {
    margin-top: 0;
}

#dock div a.icon:hover {
    width: 96px;
    height: 96px;
    background-size: 96px 96px;
}

#dock div .preview {
    background-image: url('../images/preview-icon.png');
}

#dock div .textedit {
    background-image: url('../images/textedit-icon.png');
}

#dock div .vlc {
    background-image: url('../images/vlc-icon.png');
}

#dock div .editor {
    background-image: url('../images/sublime-icon.png');
}

#dock div .safari {
    background-image: url('../images/safari-icon.png');
}

#dock div .icon .tooltiptext {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 105%;
    display: block;
    visibility: hidden;
    padding: 7px 12px;
    text-align: center;
    color: #292929;
    border-radius: 6px;
    background: rgba(255, 255, 255, .95);
    white-space: nowrap;
}

#dock div .icon:hover .tooltiptext {
    visibility: visible;
    transition: all .s ease;
}

#touchbar {
    position: absolute;
    right: 0;
    bottom: 12.5px;
    left: 0;
    height: 55px;
    margin: 0 auto;
    border-radius: 10px;
    background: #171717;
    display: block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 900px;
    transition: 1s ease;
    display: none;
}

#touchbar .button {
    width: 70px;
    height: 35px;
    background: #454545;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 20px;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s ease;
    margin: 0 2px;
}

#touchbar .button:hover {
    background-color: #626262;
    cursor: pointer;
}

#touchbar .bup {
    background-image: url(../images/icon/bup.png);
}

#touchbar .bdown {
    background-image: url(../images/icon/bdown.png);
}

#touchbar .bplay {
    background-image: url(../images/icon/bplay.png);
}

#touchbar .bpause {
    background-image: url(../images/icon/bpause.png);
}

#touchbar .bsound {
    background-image: url(../images/icon/bsound.png);
}

#touchbar .breset {
    background-image: url(../images/icon/breset.png);
    background-size: auto 25px;
}

#touchbar .block {
    background-image: url(../images/icon/block.png);
}

#touchbar .bshowall {
    background-image: url(../images/icon/bshowall.png);
}

#touchbar .bfullscreen {
    background-image: url(../images/icon/bfullscreen.png);
    background-size: auto 15px;
}


#brightness {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 150px;
    left: 0;
    width: 200px;
    height: 200px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    transition: 1s ease;
    opacity: 0;
    box-sizing: border-box;
}

#brightness div img:first-child {
    margin-bottom: 20px;
}

#main {
    position: relative;
    width: calc(100% - 75px);
    height: calc(100vh - 152px);
    margin-top: 22px;
    margin-left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: absolute;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
    transition: .2s ease box-shadow;
    box-sizing: border-box;
}

.wrapper:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .4);
}

.wrapper .title-bar {
    line-height: 25px;
    width: 100%;
    height: 25px;
    text-align: center;
    border-bottom: 1px solid #979597;
    background: linear-gradient(180deg, #edebed 0%, #e7e7e7 100%);
    transition: 1s ease background;
}

.wrapper .title-bar:hover {
    cursor: move;
}

.wrapper:hover .title-bar {
    background: linear-gradient(180deg, #edebed 0%, #d6d4d6 100%);
}

.wrapper .title-bar .control {
    position: absolute;
    margin-left: 7px;
}

.wrapper .title-bar .control span {
    display: inline-block;
    border-radius: 50%;
    background: #ff6158;
    height: 11px;
    width: 11px;
    margin-right: 3px;
}

.wrapper .title-bar .control span:hover {
    cursor: pointer;
}

.wrapper .title-bar .control .cyellow {
    background: #ffbd2e;
}

.wrapper .title-bar .control .cgreen {
    background: #28c940;
}


.wrapper .content {
    padding: 10px;
}

#sample {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
    display: none;
    box-sizing: border-box;
}

#vlc {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 857px;
    height: 505px;
}

#vlc .title-bar {
    height: 80px;
}

#vlc .video-wrapper {
    position: relative;
    padding-bottom: 0;
}

#vlc .video-wrapper .video-overlay {
    display: block;
    position: relative;
    background: none;
    height: 480px;
    width: 858px;
    z-index: 10000;
    margin-bottom: -480px;
}

#editor {
    display: none;
}

#safari {
    width: 900px;
    height: 700px;
    display: none;
    background: #edebed;
}

#safari iframe {
    width: 900px;
    height: 640px;
}

#safari .title-bar {
    height: 60px;
    background: linear-gradient(180deg, #edebed 0%, #d6d4d6 100%);
    font-size: 12px;
}

#safari .title-bar p {
    height 25px;
    background: white;
    display: block;
    width: 500px;
    margin: 8px auto;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}

#safari .title-bar .tab {
    width: 450px;
    height: 25px;
    background: #eee;
    display: inline-block;
    margin: 0;
    background: linear-gradient(180deg, #c2c0c2 0%, #bbb9bb 100%);
    border-top: 1px solid #979597;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    transition: .5s ease;
}

#safari .title-bar .selected {
    background: linear-gradient(180deg, #dddbdd 0%, #d7d5d7 100%);
}