body {
    margin: 0;
    padding: 0;
}

img {
    line-height: 100%;
    height: auto;
    text-decoration: none;
    border: 0 none;
    outline: none;
}

a img {
    border: 0 none;
}

.imageFix {
    display: block;
}

table,
td {
    border-collapse: collapse;
}

#bodyTable {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}
