#camera {
    background: #7d7d7d url('../images/camera/selfie.jpg') center top 70px;
}

#camera .camera-bottom {
    position: absolute;
    z-index: 6;
    bottom: 0;
    width: 100%;
    height: 160px;
    background-color: black;
    background-image: url('../images/camera/bottom.png'), url('../images/camera/switch.png');
    background-repeat: no-repeat;
    background-position: center top, bottom 52.5px right 25px;
    background-size: 100% auto, 35px auto;
}

#camera #camera-shutter {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 30px);
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 3px black, 0 0 0 8px white;
}

#camera #camera-gallery {
    position: absolute;
    bottom: 45px;
    left: 20px;
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
    border-radius: 2px;
    background: #292929;
}

#camera .camera-top {
    position: absolute;
    z-index: 6;
    top: 0;
    width: 100%;
    height: 80px;
    background: black url('../images/camera/top.png') center bottom no-repeat;
    background-size: 100% auto;
}

#camera .camera-middle {
    position: absolute;
    z-index: 6;
    top: 80px;
    width: 100%;
    height: 572px;
    background: url('../images/camera/grid.png') center center no-repeat;
}

#camera-webcam {
    width: 375px;
    height: 812px;
    transform: rotateY(180deg);
    object-fit: cover;
}
