#passcode-screen {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 375px;
    height: 812px;
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.passcode-screen-bg {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/lockscreen/lockscreen.jpg');
	background-position: center;
    background-size: cover;
    width: 475px;
    height: 912px;
    filter: blur(20px);
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    overflow: hidden;
    position: absolute;
}

.passcode-screen-bg.changebg {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/homescreen/bg.gif');
}

.passcode-screen-main {
	z-index: 11;
	position: absolute;
	top: 0;
	width: 375px;
	height: 812px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.passcode-ok {
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.25);
	background-size: 20px;
	background-image: url('../images/lockscreen/padlock-unlock.png');
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}



.pin-wrap {
    width: 1280px;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pin {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: rgba(255, 255, 255, 1);
}

#dots {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1em;
    padding-top: 3em;
}

.dot {
    position: relative;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid white
}

.dot.active {
    background: white;
}

#pin p {
    font-size: 15px;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 300px;
}

.number {
    position: relative;
    width: 80px;
    height: 80px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: all .5s ease;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    line-height: 80px;
}

.number:hover {
    background: rgba(255, 255, 255, 0.6);
}
