

    



@media (max-width: 1023px) {
    #navbar a {
        color: #1c130c;
        background: rgba(0, 0, 0, 0.0);
        text-decoration: none;
        letter-spacing: 0px;
        font-size: 70%;
        margin-right: 20px;
        vertical-align: middle;
        display: inline-block;
        height: auto;
        margin-top: -290px;
        padding-top: 20px;
        padding-bottom: 0px;
        line-height: 20px;
        border-bottom: 4px solid rgba(0, 0, 0, 0.0);
        transition: border 0.8s ease, background 0.4s ease-out;
        -webkit-transition: border 0.8s ease, background 0.4s ease-out;
        -moz-transition: border 0.8s ease, background 0.4s ease-out;
    }
    #navbar-top-fixed a {
        color: #d50f25;
        background: rgba(0, 0, 0, 0.0);
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 80%;
        margin-right: 20px;
        vertical-align: middle;
        display: inline-block;
        line-height: 60px;
        background: url('../img/blank.png') no-repeat center bottom/45px auto;
        border-bottom: 4px solid rgba(0, 0, 0, 0.0);
        transition: border 0.8s ease, background 0.4s ease-out;
        -webkit-transition: border 0.8s ease, background 0.4s ease-out;
        -moz-transition: border 0.8s ease, background 0.4s ease-out;
    }
    #header {
        height: auto;
        width: 100%;
        position: relative;
        background: url('image/logo-01.png') no-repeat top 10px center, url('image/dragonFA.png') no-repeat center;
        background-size: 1020px auto, 1110px auto;
        text-align: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 12vh;
        text-align: center;
    }
    .logo {
        height: 360px;
        width: 600px;
        background: url('../img/logo.png');
        background-size: 600px 360px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 766px) {
    #navbar {
        display: none;
    }    #navbar-top-fixed {
        display: none;
    }
    #header {
        height: auto;
        width: 100%;
        position: relative;
        background: url('image/logo-01.png') no-repeat top -10px center, url('image/dragonFA.png') no-repeat center;
        background-size: 795px auto, 890px auto;
        text-align: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
    }

#navbar a {
        color: #1c130c;
        background: rgba(0, 0, 0, 0.0);
        text-decoration: none;
        letter-spacing: 0px;
        font-size: 50%;
        margin-right: 20px;
        vertical-align: middle;
        display: inline-block;
        height: auto;
        margin-top: -290px;
        padding-top: 20px;
        padding-bottom: 0px;
        line-height: 20px;
        border-bottom: 4px solid rgba(0, 0, 0, 0.0);
        transition: border 0.8s ease, background 0.4s ease-out;
        -webkit-transition: border 0.8s ease, background 0.4s ease-out;
        -moz-transition: border 0.8s ease, background 0.4s ease-out;
    }
    #header .header-content {
        padding-bottom: 0px;
    }
    .logo {
        height: 240px;
        width: 400px;
        background: url('../img/logo.png');
        background-size: 400px 240px;
        display: block;
        margin: 0 auto;
    }
    .header-scroll {
        display: none;
    }
    #navbar-bottom {
        display: block;
    }


#footer .footer-landscape {
padding-bottom: 140px;
}
}

@media (max-width: 361px) {
    #navbar {
        display: none;
    }
    #header {
        height: auto;
        width: 100%;
        position: relative;
        background: url('image/logo-01.png') no-repeat top -30px center, url('image/dragonFA.png') no-repeat center;
        background-size: 1280px auto, 1390px auto;
        text-align: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 90px;
        padding-bottom: 100px;
        text-align: center;
    }
    #header .header-content {
        padding-bottom: 0px;
    }     
    .logo {        
        height: 250px;
        width: 320px;
        background: url('../img/logo.png') no-repeat center center;
        background-size: 320px auto;
        display: block;
        margin: 0 auto;
    }
    .header-scroll {
        display: none;
    }
    #navbar-bottom {
        display: block;
    }
}