body {
    background: url("bg-top.svg") top -500px center no-repeat, #C7C6C1 url("bg-bottom.svg") bottom -450px center no-repeat;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.top-section {
	font-family: museo;
	margin-top: 30px;
	font-weight: 500;
	letter-spacing: 2px;
}

.top-section .date {
	color: #dc291e;
}

.top-section .browser {
	text-align: right;
	color: #666666;
	text-decoration: underline;
}

.main {
    background: white;
    width: 800px;
    margin: 10px auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

#banner {
    background: #dc291e;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#banner:after {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#banner:after {
    bottom: 0;
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#banner .logo {
    background: rgba(0, 0, 0, 0) url("rmit-logo.svg") no-repeat scroll 0 0 / auto 45px;
    display: block;
    height: 45px;
}

#banner .title {
    color: white;
    font-family: museo;
    text-align: center;
    text-transform: uppercase;
}

#banner .title h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 0.8;
}

#banner .title h1 {
    font-size: 55px;
    font-weight: 300;
    line-height: 0;
}

#banner .title-underline {
    display: inline-block;
    height: 2px;
    width: 140px;
    background: white;
}

#footer {
    background: #dc291e;
    padding: 10px 20px;
    color: white;
    position: relative;
    z-index: 1;
}

#footer:before {
    background: inherit;
    content: '';
    display: block;
    height: 70%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#footer:before {
    top: 0;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#footer .copyright-text {
    background: url("rmit-logo.svg") no-repeat scroll bottom right / auto 45px;
}

#footer2 {
    text-align: center;
}

#footer2 .big-copyright {
    font-family: museo;
    font-size: 10px;
    color: #333333;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#footer2 p {
    color: #424242;
    font-size: 11px;
}

#footer2 a {
    text-decoration: underline;
    padding-right: 20px;
    color: #424242;
}

#footer2 a:hover {
    color: #242424;
}

#footer2 a:last-child {
    text-decoration: underline;
    padding-right: 0px;
}
