body {
    background: url("bg-top.svg") top center no-repeat, #C7C6C1 url("bg-bottom.svg") bottom center no-repeat;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.top-section {
    font-family: museo;
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.top-section .date {
    color: #dc291e;
}

.top-section .browser {
    text-align: right;
    color: #666666;
    text-decoration: underline;
}

.main {
    background: white;
    width: 800px;
    margin: 10px auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

#banner {
    background-image: url(rmitstudent.jpg);
    background-size: cover;
    background-position: center center;
    background-color: #dc291e;
    padding: 20px;
    position: relative;
    background-blend-mode: overlay;
}

#banner .logo {
    background: rgba(0, 0, 0, 0) url("rmit-logo.svg") no-repeat scroll 0 0 / auto 45px;
    display: block;
    height: 45px;
}

#banner .title {
    color: white;
    font-family: museo;
    text-align: center;
    text-transform: uppercase;
}

#banner .title h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 0.8;
}

#banner .title h1 {
    font-size: 55px;
    font-weight: 300;
    line-height: 0;
}

#banner .title-underline {
    display: inline-block;
    height: 2px;
    width: 140px;
    background: white;
}

#content {
    background: #ffffff;
    padding: 10px 50px;
    color: #242424;
    position: relative;
    z-index: 1;
}

#content:before {
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#content:before {
    top: 0;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#content h2 {
    text-align: center;
    font-family: museo;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

#content h2:after {
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #242424;
    margin: 10px auto;
}

#content .alerts {
    width: 500px;
    margin: 5px auto;
    background: #F1DDDE;
    padding: 10px 15px;
    color: #191919;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 0px 0px #F1B7BF;
    -moz-box-shadow: 0px 5px 0px 0px #F1B7BF;
    box-shadow: 0px 5px 0px 0px #F1B7BF;
    margin-bottom: 15px;
}

#content .alerts h3 {
    color: #de4c4c;
    font-size: 20px;
    margin: 0;
    margin-bottom: 3px;
    text-transform: uppercase;
}

#content .blue {
    background: #DAEDF6;
    -webkit-box-shadow: 0px 5px 0px 0px #9CD9E9;
    -moz-box-shadow: 0px 5px 0px 0px #9CD9E9;
    box-shadow: 0px 5px 0px 0px #9CD9E9;
}

#content .blue h3 {
    color: #239ec6;
}

#content .yellow {
    background: #F0F2CA;
    -webkit-box-shadow: 0px 5px 0px 0px #F6E0BD;
    -moz-box-shadow: 0px 5px 0px 0px #F6E0BD;
    box-shadow: 0px 5px 0px 0px #F6E0BD;
}

#content .yellow h3 {
    color: #d0800e;
}

#content .alerts p {
    margin: 0;
    font-size: ;
}

#content .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#content .big-news {}

#content .big-news-image {
    display: block;
    max-width: 700px !important;
    max-height: 350px !important;
    width: auto;
    height: auto;
}

#content .big-news-description {}

#footer {
    background: #dc291e;
    padding: 10px 20px;
    color: white;
    position: relative;
    z-index: 1;
}

#footer:before {
    background: inherit;
    content: '';
    display: block;
    height: 70%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

#footer:before {
    top: 0;
    -webkit-transform: skewY(-7deg);
    transform: skewY(-7deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#footer .copyright-text {
    background: url("rmit-logo.svg") no-repeat scroll bottom right / auto 45px;
}

#footer2 {
    text-align: center;
}

#footer2 .big-copyright {
    font-family: museo;
    font-size: 10px;
    color: #333333;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#footer2 p {
    color: #424242;
    font-size: 11px;
}

#footer2 a {
    text-decoration: underline;
    padding-right: 20px;
    color: #424242;
}

#footer2 a:hover {
    color: #242424;
}

#footer2 a:last-child {
    text-decoration: underline;
    padding-right: 0px;
}
