/** CSS IMPORT **/

@import url('reset.css');
@import url('san-francisco.css');
@import url('basic.css');
@import url('ui.css');
@import url('other.css');
@import url('home-screen.css');
@import url('youtube.css');
@import url('imessage.css');

/* APP */

.app {
    position: absolute;
    z-index: 10;
    top: 0;
    display: none;
    overflow: hidden;
    width: 1280px;
    height: 960px;
    background: white;
}

#screencrack {
	width: 1508px;
	height: 1008px;
	background-image: url('../images/crack2.jpg');
	background-size: cover;
	position: absolute;
	z-index: 1003;
	top: 6px;
	left: 6px;
	pointer-events: none;
	border-radius: 50px;
	mix-blend-mode: overlay;
}

.screencrack::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 1001;
  pointer-events: none;
  animation: flicker 0.15s infinite;

}

.screencrack::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 1001;
    background-size: 100% 4px, 5px 100%;
    pointer-events: none;
}

#screenoff {
    width: 1280px;
    height: 960px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
}

#lockscreen {
    width: 1280px;
    height: 960px;
    background: url('../images/background.jpg') center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
    padding-top: 100px;
    color: white;
    text-align: center;
}

#lockscreen #lockscreen-clock {
    font-size: 150px;
    font-weight: 100;
}

#lockscreen #lockscreen-text {
    position: absolute;
    bottom: 50px;
    width: 100%;
    font-weight: 500;
    display: none;
}

#home-button {
    display: none;
}

#lockscreen-button {
    display: none;
}

#passcode {
    width: 1280px;
    height: 960px;
    background: url('../images/background.jpg') center center;
    background-size: cover, cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 997;
}

.pin-wrap {
    width: 1280px;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

#pin {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: rgba(255, 255, 255, 1);
}

#dots {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1em;
    padding-top: 3em;
}

.dot {
    position: relative;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid white
}

.dot.active {
    background: white;
}

#pin p {
    font-size: 15px;
}

.numbers {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 300px;
}

.number {
    position: relative;
    width: 80px;
    height: 80px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: all .5s ease;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    line-height: 80px;
}

.number:hover {
    background: rgba(255, 255, 255, 0.6);
}










@keyframes flicker {
  0% {
    opacity: 0.57995;
  }
  5% {
    opacity: 0.29462;
  }
  10% {
    opacity: 0.35738;
  }
  15% {
    opacity: 0.85109;
  }
  20% {
    opacity: 0.13818;
  }
  25% {
    opacity: 0.44661;
  }
  30% {
    opacity: 0.86954;
  }
  35% {
    opacity: 0.17365;
  }
  40% {
    opacity: 0.04597;
  }
  45% {
    opacity: 0.92918;
  }
  50% {
    opacity: 0.19485;
  }
  55% {
    opacity: 0.36498;
  }
  60% {
    opacity: 0.48964;
  }
  65% {
    opacity: 0.43571;
  }
  70% {
    opacity: 0.7887;
  }
  75% {
    opacity: 0.27432;
  }
  80% {
    opacity: 0.22101;
  }
  85% {
    opacity: 0.85176;
  }
  90% {
    opacity: 0.28759;
  }
  95% {
    opacity: 0.27966;
  }
  100% {
    opacity: 0.21969;
  }
}
