body {
    background: #0d111e;
    color: #f89310;
}

.vcenter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.img-responsive {
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: next;
}

#home {
    text-align: center;
    height: 100vh;
    width: 100%;
    background: url(../images/bg-01.png) fixed no-repeat center right, url(../images/bg-02.png) fixed no-repeat center left;
    background-size: auto 70%, auto 70%;
}

#home .logo {
    background: url(../images/logo.png) no-repeat center center;
    background-size: 80% auto;
    height: 100vh;
}

.divider {
    background: url(../images/divider.png) no-repeat center center;
    width: 100%;
    height: 35px;
    margin: 40px auto 100px;
}

.divider-blue {
    background: url(../images/divider-blue.png) no-repeat center center;
    width: 100%;
    height: 35px;
    margin: 40px auto 100px;
}

#about {
    text-align: center;
    background: url(../images/bg-01.png) fixed no-repeat center right, url(../images/bg-02.png) fixed no-repeat center left;
    background-size: auto 70%, auto 70%;
    padding: 100px 0 200px;
}

#about .content {
    text-align: left;
}

#stay {
    background: url(../images/bg-04.png) no-repeat bottom right, #f89310 url(../images/bg-03.png) no-repeat top left;
    background-size: auto 300px, auto 400px;
    text-align: center;
    padding: 150px 0 50px;
    color: #0d111e;
}

#stay .content {
    text-align: left;
    margin-bottom: 100px;
}

#stay h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

#stay h3 {
    font-weight: 700;
    color: #d50f25;
}

#stay .hotel-info {
    font-size: 12px;
    margin-bottom: 20px;
}

#stay .hotel-01 {
    width: 100%;
    padding-bottom: 28%;
    background: url(../images/stay-01.jpg) center center;
    background-size: cover;
}

#stay .hotel-01:hover {
    background: url(../images/stay-hover.png) center center, url(../images/stay-01.jpg) center center;
    background-size: cover, cover;
}

#stay .hotel-02 {
    width: 100%;
    padding-bottom: 28%;
    background: url(../images/stay-02.jpg) center center;
    background-size: cover;
}

#stay .hotel-02:hover {
    background: url(../images/stay-hover.png) center center, url(../images/stay-02.jpg) center center;
    background-size: cover, cover;
}

#stay .hotel-03 {
    width: 100%;
    padding-bottom: 28%;
    background: url(../images/stay-03.jpg) center center;
    background-size: cover;
}

#stay .hotel-03:hover {
    background: url(../images/stay-hover.png) center center, url(../images/stay-03.jpg) center center;
    background-size: cover, cover;
}

#stay .hotel-04 {
    width: 100%;
    padding-bottom: 28%;
    background: url(../images/stay-04.jpg) center center;
    background-size: cover;
}

#stay .hotel-04:hover {
    background: url(../images/stay-hover.png) center center, url(../images/stay-04.jpg) center center;
    background-size: cover, cover;
}

#festivals {
    background: url(../images/bg-05.png) fixed no-repeat top right, url(../images/bg-06.png) fixed no-repeat bottom left;
    background-size: auto 70%, auto 70%;
    padding: 100px 0 200px;
    text-align: center;
}

#festivals .divider {
    margin: 20px auto 50px;
}

#festivals .intro {
    text-align: left;
    margin-bottom: 50px;
}

#festivals h1 {
	margin-top: 100px;
}

#festivals p {
    text-align: left;
}

#festivals img {
	margin: 30px auto;
	width: 100%;
}

.fling-minislide {
    width: 100%;
    height: 0px;
    padding-bottom: 46%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.fling-minislide img {
    position: absolute;
    animation: fling-minislide 20s infinite;
    opacity: 0;
    width: 100%;
    height: auto;
    left: 0;
}

@keyframes fling-minislide {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

.fling-minislide img:nth-child(3) {
    animation-delay: 0s;
}

.fling-minislide img:nth-child(1) {
    animation-delay: 5s;
}

.fling-minislide img:nth-child(1) {
    animation-delay: 10s;
}

#foods {
	background: url(../images/bg-07.jpg) repeat-y center top;
	background-size: 100% auto;
	padding: 100px 0;
	color: #0d111e;
}

#foods .content {
	margin-top: 100px;
}

#foods .content img {
	width: 100%;
}

#foods h1 {
	text-align: center;
}

#location {
	padding: 100px 0;
	background: url(../images/bg-08.png) no-repeat top right;
	background-size: auto 70%;
}

#footer {
	background: #f89310 url(../images/bg-09.jpg) no-repeat center top;
	background-size: 100% auto;
	padding: 100px 0 20px;
	color: #0d111e;	
	text-align: left;
}