#instagram {
	background: white;
}

.instagram-main {
	width: 375px;
	max-height: 742px;
	overflow-y: auto;
	padding-top: 40px;
}

.instagram-logo {
	display: block;
	width: 100%;
	background-image: url('../images/instagram/logo.png'), url('../images/instagram/arrow-down.png');
	background-position: bottom left 20px, bottom 20px right 20px;
	background-repeat: no-repeat;
	background-size: auto 60px, 12px;
	text-align: right;
	padding: 30px 40px 17px 25px;
	font-weight: 600;
}

.instagram-info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 25px;
	justify-content: space-between;
	align-items: center;
}

.instagram-avatar {
	height: 80px;
	width: 80px;
	background: #d50f25 url('../images/instagram/avatar.jpg') center center;
	background-size: cover;
	border-radius: 50%;
	display: block;
}

.instagram-data {
	width: 215px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.instagram-data p {
	width: calc(100% / 3);
	text-align: center;
	margin: 0;
	margin-bottom: 15px;
}

.instagram-data span {
	display: block;
	font-size: 12px;
	color: #adadad;
	letter-spacing: .5px;
	margin-top: 3px;
}

.instagram-button {
	width: 90%;
	height: 25px;
	border: 1px solid #adadad;
	color: #adadad;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 14px;
}

.instagram-desc {
	padding: 0 25px;
	font-family: "Helvetica";
}

.instagram-desc p {
	margin: 6px 0;
	color: #adadad;
}

.instagram-desc p:first-child {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
	color: black;
}

.instagram-desc p:last-child {
	color: rgb(59,155,255);
}

.instagram-menu {
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	background: #fafafa url('../images/instagram/menu.png') center top no-repeat;
	background-size: 100% auto;
}

.instagram-tab {
	width: 100%;
	height: auto;
	margin: 10px 0 0;
}

#instafeed {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 5px;
	width: 375px;
}

.instagram-img {
	width: calc(calc(100% / 3) - 10px);
	margin: 5px;
}


.instagram-header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 50px 0 15px;
	text-align: center;
	font-weight: 600;
	background: #fafafa;
	border-bottom: 1px solid #d5d5d5;
	margin-top: -155px;
	transition: 1s ease margin;
}

.instagram-header.active {
	margin-top: 0;
}
