.iphone {
    display: inline-block;
    position: relative;
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important
}

.iphone .screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 2;
    background: white;
    overflow: hidden;
    display: block;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 0 3px #111;
    box-shadow: 0 0 0 3px #111
}

.iphone .iphone-top-bar, .iphone .bottom-bar {
    height: 3px;
    background: black;
    width: 100%;
    display: block
}

.iphone {
    width: 375px;
    height: 812px;
    padding: 26px;
    background: #fdfdfd;
    -webkit-box-shadow: inset 0 0 11px 0 black;
    box-shadow: inset 0 0 11px 0 black;
    border-radius: 66px
}

.iphone:before {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 5px;
    content: '';
    left: 5px;
    border-radius: 61px;
    background: black;
    z-index: 1
}

.iphone .inner-shadow {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    top: 10px;
    overflow: hidden;
    left: 10px;
    border-radius: 56px;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.66);
    z-index: 1
}

.iphone .inner-shadow:before {
    -webkit-box-shadow: inset 0 0 20px 0 #FFFFFF;
    box-shadow: inset 0 0 20px 0 #FFFFFF;
    width: 100%;
    height: 116%;
    position: absolute;
    top: -8%;
    content: '';
    left: 0;
    border-radius: 200px / 112px;
    z-index: 2
}

.iphone .screen {
    border-radius: 40px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.iphone .iphone-top-bar, .iphone .bottom-bar {
    width: 100%;
    position: absolute;
    height: 8px;
    background: rgba(0, 0, 0, 0.1);
    left: 0
}

.iphone .iphone-top-bar {
    top: 80px
}

.iphone .bottom-bar {
    bottom: 80px
}

.iphone .volume, .iphone .volume:before, .iphone .volume:after, .iphone .sleep {
    width: 3px;
    background: #b5b5b5;
    position: absolute
}

.iphone .volume {
    left: -3px;
    top: 116px;
    height: 32px
}

.iphone .volume:before {
    height: 62px;
    top: 62px;
    content: '';
    left: 0
}

.iphone .volume:after {
    height: 62px;
    top: 140px;
    content: '';
    left: 0
}

.iphone .sleep {
    height: 96px;
    top: 200px;
    right: -3px
}

.iphone .camera {
    width: 6px;
    height: 6px;
    top: 9px;
    border-radius: 100%;
    position: absolute;
    left: 154px;
    background: #0d4d71
}

.iphone .speaker {
    height: 6px;
    width: 60px;
    left: 50%;
    position: absolute;
    top: 9px;
    margin-left: -30px;
    background: #171818;
    border-radius: 6px
}

.iphone .notch {
    position: absolute;
    width: 205px;
    height: 30px;
    top: 26px;
    left: 110px;
    z-index: 3;
    background: black;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px
}

.iphone .notch:before, .iphone .notch:after {
    content: '';
    height: 8px;
    position: absolute;
    top: 0;
    width: 8px
}

.iphone .notch:after {
    background: radial-gradient(circle at bottom left, transparent 0, transparent 70%, black 70%, black 100%);
    left: -8px
}

.iphone .notch:before {
    background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
    right: -8px
}
