/** SCREEN OFF **/

#screen-off {
    position: absolute;
    z-index: 100;
    top: 0;
    display: none;
    width: 375px;
    height: 812px;
    background: black;
}

/** TOP BAR **/

#top-bar {
	position: absolute;
	top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: white;
	z-index: 99;
	padding-left: 30px;
	padding-right: 12px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	height: 20px;
}

#top-bar #top-bar-clock {
	letter-spacing: 1px
}

#top-bar .battery {
    height: 20px;
    width: 30px;
    background-image: url('../images/icon/battery.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    padding-top: 6.5px;
    padding-left: 3px;
    padding-right: 5px;
}

#top-bar .battery #battery-indicator {
    width: 100%;
    background: white;
    height: 6.5px;
    display: block;
}

#top-bar .topbar-signal {
    height: 20px;
    width: 20px;
    background-image: url('../images/icon/signal.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
	margin-right: -2px;
}


#top-bar .topbar-wifi {
    height: 20px;
    width: 20px;
    background-image: url('../images/icon/wifi.png');
	background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
	margin-right: -2px;
}

#top-bar.black {
	color: black;
}

#top-bar.black .battery {
	background-image: url('../images/icon/black-battery.png');
}

#top-bar.black .battery #battery-indicator {
    background: black;
}

#top-bar.black .topbar-signal {
    background-image: url('../images/icon/black-signal.png');
}


#top-bar.black .topbar-wifi {
    background-image: url('../images/icon/black-wifi.png');
}

/** APP **/

.app {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 375px;
    height: 812px;
	border-radius: 40px;
	overflow: hidden;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	background: black;
	display: none;
}

.home-bar {
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
}

.home-bar::before {
    display: block;
    width: 130px;
    height: 4px;
    content: '';
    transition: .5s all ease;
    border-radius: 2px;
    background-color: white;
	opacity: 0.7;
}

.home-bar:hover::before {
    opacity: 0.9;
}
