pre {
    font-family: monospace;
    background-color: #fff;
    margin: 4em auto;
    border-radius: 10px;
    line-height: 0;
    counter-reset: line;
    padding-right: 40px;
}

pre span.line {
    display: block;
    line-height: 2rem;
}

pre span.line:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    color: #888;
    width: 20px;
    text-align: right;
    background: #eee
}

pre span.line:first-child:before {
    padding-top: 20px;
    border-top-left-radius: 10px;
}

pre span.line:last-child:before {
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
}

pre span.bracket {
    font-weight: 700;
    color: #2a7802;
}