:root {
    --black: #292929;
    --main: #d50f25;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    font-family: 'Roboto Mono', monospace;
}

a, a:hover, a:visited, a:active {
    color: var(--black);
}

/* ===== NAVBAR ===== */

#nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-top: 75px;
    transition: .5s ease;
}

#nav.scroll {
    margin-top: 50px;
    transition: .5s ease;
}

#nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav ul.nav-links {
    list-style-type: none;
    font-weight: bold;
    background: white;
    line-height: 35px;
    height: 35px;
    padding: 0 20px;
    margin: 0;
}

#nav ul.nav-links li {
    display: inline;
}

#nav ul.nav-links li+li:before {
    content: "//\00a0 ";
    margin: 0 5px 0 3px;
}

#nav .logo {
    height: 35px;
    display: block;
    background: var(--main);
    opacity: 0;
    transition: .5s ease;
    color: white;
    font-weight: bold;
    line-height: 35px;
    padding: 0 20px;
}

#nav .logo.scroll {
    opacity: 1;
    transition: 1s ease;
}

#nav .big-logo {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    transition: 1s ease;
}

#nav .big-logo.scroll {
    opacity: 0;
    transition: .5s ease;
}

#nav .big-logo.black {
    background-image: url(../images/logo-black.png);
}

#nav .big-logo.white {
    background-image: url(../images/logo-white.png);
}

#nav .big-logo.red {
    background-image: url(../images/logo-red.png);
}

/* =======================
====== SECTION: HERO =====
======================== */

section#hero {
    height: calc(50vh + 50px);
    position: relative;
}

/* ===== SLIDESHOW ===== */

section#hero .slides {
    height: 50vh;
    position: relative;
}

section#hero .slides .slide {
    background-color: var(--main);
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    transition: all ease 1s;
    animation: opac 1s;
}

@keyframes opac {
    from {
        opacity: .2
    }
    to {
        opacity: 1
    }
}

section#hero .slides .slide .slideimage {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
    transition: all ease 1s;
}

section#hero .slides .slide:hover .slideimage {
    transition: all ease 1s;
}

section#hero .slides .slide .container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 20px;
    position: absolute;
    flex-direction: column;
    z-index: 3;
}

section#hero .slides .category {
    color: white;
    margin-bottom: 20px;
}

section#hero .slides .category::before {
    content: '';
    height: 2px;
    width: 100px;
    display: inline-block;
    background: white;
    margin-left: 30px;
    margin-bottom: 4px;
    margin-right: 20px;
}

section#hero .slides .caption {
    background-color: white;
    /* border-color: : var(--black);
    border-style: solid;
    border-width: 7.5px; */
    padding: 15px 20px;
    display: inline-block;
    font-size: 3.5em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
}

section#hero .slides .slidenavs {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

section#hero .slides .dot {
    width: 10px;
    height: 10px;
    border: 2px solid var(--black);
    display: inline-block;
    margin-right: 5px;
}

section#hero .slides .active {
    background: var(--black);
}

section#hero .slides .prev, section#hero .slides .next {
    display: inline-block;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEF2b2NvZGUgMi4zLjItZWE2MDYyMCAtIGh0dHA6Ly9hdm9jb2RlLmNvbSAtLT4KPHN2ZyBoZWlnaHQ9IjgiIHdpZHRoPSI0NCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0IDgiPgogICAgPHBhdGggZmlsbD0iIzAwMDAwMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNIC0wLjAxIDIuOTkgQyAtMC4wMSAyLjk5IDM2IDMgMzYgMyBDIDM2IDMgMzYuMDIgMCAzNi4wMiAwIEMgMzYuMDIgMCA0NC4wMSA0IDQ0LjAxIDQgQyA0NC4wMSA0IDM2IDggMzYgOCBDIDM2IDggMzYgNSAzNiA1IEMgMzYgNSAtMC4wMSA1LjAxIC0wLjAxIDUuMDEgQyAtMC4wMSA1LjAxIC0wLjAxIDIuOTkgLTAuMDEgMi45OSBaIiAvPgo8L3N2Zz4=) no-repeat center;
    width: 50px;
    height: 10px;
}

section#hero .slides .prev {
    transform: scaleX(-1);
}

section#hero .footer {
    width: 100%;
    bottom: 0;
    padding: 75px 0;
    font-weight: bold;
    position: relative;
    position: fixed;
    transition: all .5s ease;
}

section#hero .footer.scroll {
    opacity: 0;
    transition: all .5s ease;
}

section#hero .footer .container {
    display: flex;
    justify-content: space-between;
}

/* =======================
====== SECTION: BODY =====
======================== */

section#works {
    padding-top: 10vh;
}

.intro {
    color: var(--main);
    font-weight: bold;
    font-size: 5em;
    line-height: 1;
    width: 100%;
    transition: .5s ease;
}

.intro.scroll {
    margin-top: 10vh;
    transition: 1s ease;
}

/* =======================
====== SECTION: BODY =====
======================== */

#footer {
    width: 100%;
    bottom: 0;
    padding: 75px 0;
    font-weight: bold;
    position: relative;
}

#footer .container {
    display: flex;
    justify-content: space-between;
}
