body {
    background: #D7C39C;
    color: #CEB888;
    font-family: 'Lora', serif;
}

#wrapper {
    background: url('img/top.jpg') no-repeat top center, url('img/bottom.jpg') no-repeat bottom center, url('img/middle.jpg') repeat-y center center;
    width: 1000px;
    margin: 100px auto;
    padding: 50px;
    padding-top: 180px;
    padding-bottom: 180px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#top-orn {
    background: url('img/top-orn.png') no-repeat;
    height: 75px;
    width: 90px;
    display: block;
    margin: 0 auto;
}

#bottom-orn {
    background: url('img/bottom-orn.png') no-repeat;
    height: 75px;
    width: 90px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

#logo {
    background: url('img/logo.png') no-repeat;
    background-size: 520px auto;
    height: 340px;
    width: 520px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#five-stars {
    background: url('img/five-stars.png') no-repeat center center;
    height: 30px;
    width: 570px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

#header p.intro {
    width: 760px;
    text-align: justify;
    color: #4d4d4d;
    margin: 0 auto;
    font-size: 17px;
    margin-top: 20px;
}

#knife-fork {
    background: url('img/knife-fork.png') no-repeat center center;
    height: 70px;
    width: 130px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

#menu-title {
    background: url('img/menu-title.png') no-repeat center center;
    height: 190px;
    width: 260px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

#divider {
    background: url('img/divider.png') no-repeat center center;
    height: 10px;
    width: 891px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#footer p.note {
    background: rgba(0, 0, 0, 0) url("img/flower.png") no-repeat scroll left 4px;
    color: #333;
    display: block;
    margin: 0 auto;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: 30px;
    padding-left: 30px;
    margin-left: 90px;
    line-height: 20px;
}

#thankyou {
    background: url('img/thankyou.png') no-repeat center center;
    height: 135px;
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}
