body {
    font-family: rv;
    font-weight: 100;
    position: relative;
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.divider {
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #cecece;
}

.divider-light {
    display: block;
    width: 50px;
    height: 4px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #f8f8f8;
}

.btn-gray {
    color: #333;
    border-color: #333;
    background-color: #fff;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    color: #333;
    border-color: #333;
    background-color: #eee;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
    border-color: #333;
    background-color: #fff;
}

.btn-gray .badge {
    color: #fff;
    background-color: #333;
}


/* HEADER */

#header {
    width: 100%;
    height: 100vh;
    background: url('../img/header.jpg') center -100px;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.page-title {
    font-family: bl;
    color: #ffba00;
    font-size: 70px;
    margin-top: 30px;
}

.page-intro {
    color: white;
    font-family: rb;
    font-size: 30px;
    border-top: 1px solid #ffba00;
    padding: 5px 50px;
    margin-top: -15px;
}


/* ABOUT */

#about {
    display: block;
    padding: 150px 0 100px;
    text-align: center;
    background: url('../img/bg-about.jpg') center;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
}

#about p {}

#about h1 {
    font-family: si;
    color: #ffba00;
    font-size: 50px;
}

.progress-bar-gray {
    background-color: #898989;
}


/* PORTFOLIO */

#portfolio {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    background: url('../img/dark-bg.png') no-repeat top right/ 350px auto, url('../img/dark-bg-flip.png') no-repeat bottom left/ 350px auto;
    background-color: #494949;
}

.img-portfolio {
    display: block;
    margin-bottom: 20px;
    padding: 4px;
    -webkit-transition: border .5s ease-in-out;
    -o-transition: border .5s ease-in-out;
    transition: border .5s ease-in-out;
    border: 1px solid #c6c6c6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.img-portfolio > img,
.img-portfolio a > img {
    margin-right: auto;
    margin-left: auto;
}

a.img-portfolio:hover,
a.img-portfolio:focus,
a.img-portfolio.active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.img-portfolio .caption {
    padding: 9px;
    color: #333;
}

.featherlight .featherlight-content {
    padding: 10px;
    border-bottom: none;
}

.featherlight .featherlight-close-icon {
    top: 10px;
    right: 10px;
}


/* CONTACT */

#contact {
    display: block;
    padding-top: 100px;
    padding-bottom: 50px;
    background: url('../img/bg-contact.jpg') center;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
    text-align: center;
}


/****************************************************
  * Custom CSS for this website 
  *****************************************************/

.custom-navbar {
    height: 80px;
    transition: background-color .5s ease 0s;
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-navbar.opaque {
    height: 80px;
    transition: background-color .5s ease 0s;
    border-bottom: 0px solid #ddd;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
