* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
    letter-spacing: 1.5px;
    font-size: 20px;
    position: relative;
    height: 100%;
    height: auto;
    min-height: 100% !important;
    font-family: 'carnasextralight';
}

.center {
    margin: 0 auto;
}

.navbar {
    display: none;
}

.navbar-hoian {
    background: #9A2424 none repeat scroll 0 0;
    border: medium none;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.navbar-hoian .navbar-brand {
    color: #fff;
}

.navbar-hoian .navbar-brand:focus,
.navbar-hoian .navbar-brand:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-hoian .navbar-text {
    color: #fff;
}

.navbar-hoian .navbar-nav > li > a {
    color: #fff;
}

.navbar-hoian .navbar-nav > li > a:focus,
.navbar-hoian .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #C7A578;
}

.navbar-hoian .navbar-nav > .active > a,
.navbar-hoian .navbar-nav > .active > a:focus,
.navbar-hoian .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #fff;
}

.navbar-hoian .navbar-nav > .disabled > a,
.navbar-hoian .navbar-nav > .disabled > a:focus,
.navbar-hoian .navbar-nav > .disabled > a:hover {
    background-color: transparent;
    color: #444;
}

.navbar-hoian .navbar-toggle {
    border-color: #fff;
}

.navbar-hoian .navbar-toggle:focus,
.navbar-hoian .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-hoian .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-hoian .navbar-collapse,
.navbar-hoian .navbar-form {
    border-color: #fff;
}

.navbar-hoian .navbar-nav > .open > a,
.navbar-hoian .navbar-nav > .open > a:focus,
.navbar-hoian .navbar-nav > .open > a:hover {
    background-color: #9A2424;
    color: #fff;
}

#menu {
    display: none;
    position: fixed;
    background: url('../images/menu.png') center bottom/cover;
    text-align: center;
    width: 100%;
    color: white;
    height: 150px;
    line-height: 100px;
    z-index: 997;
}

.overlay {
    background: white url('../images/bg.jpg') no-repeat center top;
    background-size: 100% auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    mix-blend-mode: multiply;
    pointer-events: none;
}

#banner {
    background: url('../images/logo.png') no-repeat bottom center, white url('../images/dragon.png') no-repeat bottom center;
    background-size: auto 40%, auto 100%;
    height: 80vh;
    position: relative;
}

#banner-gradient {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    height: 50px;
    width: 100%;
    position: relative;
}

.nav-header {
    text-align: center;
    font-family: 'kelsonbold';
    letter-spacing: 10px;
}

.nav-header a {
    color: #000;
    display: inline-block;
    font-size: 1.15em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 15px 25px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.nav-header a:hover,
.nav-header a:focus {
    outline: medium none;
    text-decoration: none;
}

.nav-header a::before,
.nav-header a::after {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    content: "";
    height: 100px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.2);
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    width: 100px;
}

.nav-header a::after {
    border-width: 6px;
    height: 90px;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    width: 90px;
}

.nav-header a:hover::before,
.nav-header a:hover::after,
.nav-header a:focus::before,
.nav-header a:focus::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

#menu .nav-header a {
    color: #fff;
}

h1 {
    font-family: 'kelsonbold';
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-family: 'kelsonbold';
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
}

#whoweare {
    padding: 100px 0 50px;
    text-align: center;
}

#whattodo {
    padding: 0 0 50px;
    text-align: center;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.0) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.0) 100%);
}

.carousel-control,
.carousel-control:focus,
.carousel-control:hover {
    color: #000;
}

.carousel-indicators li {
    border: 1px solid #000;
}

.carousel-indicators .active {
    background-color: #000;
}

#whybringus {
    padding: 0 0 100px;
    text-align: center;
}

#whybringus .map-disc {
    text-align: left;
    font-size: 15px;
}

#footer {
    background: url('../images/footer.png') center top/cover;
    color: white;
    padding: 50px 0 10px;
}

#footer .footer-left {
    text-align: left;
}

#footer .footer-right {
    text-align: right;
}

@media (max-width: 640px) {
    #menu {
        opacity: 0;
    }
    .nav-header {
        opacity: 0;
        margin-top: -150px;
    }
    .navbar {
        display: block;
    }
    #footer .footer-left {
        text-align: center;
    }
    #footer .footer-right {
        text-align: center;
    }
    #whoweare {
        padding: 0px 0 50px;
        text-align: left;
    }
    #whattodo {
        text-align: left;
    }
    #whybringus {
        padding: 0 0 100px;
        text-align: left;
    }
    #whybringus .map-disc {
        text-align: center;
        font-size: 18px;
    }
    h2 {
        margin-top: 10px;
    }
}
