

/* Main styles */

#keyboard-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 400px;
    background: #d1d5db;
	position: absolute;
	bottom: 0;
}

#keyboard {
    font-size: 20pt;
	font-family: "San Francisco";
}

#lowercase, #uppercase, #numbers, #symbols {}

#lowercase {
    display: block;
}

#uppercase, #numbers, #symbols {
    display: none;
}

.row {
    margin: 10px 3px;
    text-align: center;
}


/* Third row */

.row:nth-of-type(3) .gray:first-of-type {
    margin-right: 20px;
}

.row:nth-of-type(3) .gray:last-of-type {
    margin-left: 20px;
}

/* Last row */

.row:last-of-type .key {
}

.row:last-of-type .gray {
    width: 180px;
}

.row:last-of-type .white {
    width: 880px;
}

.white:active {
    background: #eee;
}

.gray:active {
    background: #989fa8;
}


/* Keys */

.key {
    position: relative;
    display: inline-block;
    height: 85px;
    border-radius: 5px;
    box-shadow: 0 1px 0 #888;
    line-height: 85px;
    margin: 0 5px;
}

.white {
    width: 117px;
    background: #fff;
}

.gray {
    width: 163px;
    background: #acb3bd;
}

.symbol3 {
	width: 169px;
}

.grey3 {
	margin-left: 30px;
}

.grey3r {
	margin-right: 30px;
}
